NODE_ENV=development
DATABASE_URL=postgresql://postgres:@localhost:5432/my-tanstack-starter-dev
BETTER_AUTH_SECRET=ChangeThisBeforeShippingToProdOrYouWillBeFired
BETTER_AUTH_URL=http://localhost:3000
