NODE_ENV=development
DATABASE_URL=postgresql://postgres:@localhost:5432/my-tanstack-starter-test
BETTER_AUTH_SECRET=ChangeThisBeforeShippingToProdOrYouWillBeFired
BETTER_AUTH_URL=http://localhost:3000
RESEND_API_KEY=re_your_resend_api_key
DISABLE_EMAIL_VERIFICATION=true
