NODE_ENV=development
DATABASE_URL=postgresql://postgres:@localhost:5432/tanstack-start-template-test
BETTER_AUTH_SECRET=ChangeThisBeforeShippingToProdOrYouWillBeFired
BETTER_AUTH_URL=http://localhost:3001
