@import "tailwindcss";

@plugin "daisyui";

@layer base {
  html {
    color-scheme: light dark;
  }

  input::placeholder {
    opacity: 0.5;
  }

  .using-mouse * {
    outline: none !important;
  }
}
